div#angarinfo_desc {
clear: both;
padding: 0 0 10px;
}

div#angarinfo_desc .desc_block {
padding: 0 0 10px;
}

div#angarinfo_desc  h3{
margin: 0 0 10px;
font-weight: bold;
font-size: 18px;
}

div#angarinfo_desc p{
margin: 0 0 10px;
}

div#angarinfo_desc a:hover{
text-decoration: underline;
}

div#angarinfo_desc ul {
list-style: disc;
padding-left: 16px;
}

div#angarinfo_desc ol {
padding-left: 16px;
}
