.wishlist-modal {
    display: block;
    opacity: 0;
    pointer-events: none;
    z-index: 0;
}
.wishlist-modal.show {
    opacity: 1;
    pointer-events: all;
    z-index: 1051;
}
.wishlist-modal.show + .modal-backdrop {
    pointer-events: all;
}
.wishlist-modal.fade .modal-dialog {
    max-width: 550px;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.wishlist-modal .close {
    font-weight: 400;
    color: #7a7a7a;
    opacity: 1;
    font-size: 2.25rem;
}
.wishlist-modal .close:hover {
    opacity: 0.6;
}
.wishlist-modal .modal-header {
    padding: 0.625rem 1.875rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border: none;
}
.wishlist-modal .modal-header h5 {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 30px;
}
.wishlist-modal .modal-header::after {
    content: none;
}
.wishlist-modal .modal-text {
    font-size: 14px;
    letter-spacing: 0;
    line-height: 19px;
}
.wishlist-modal .modal-body {
    padding: 15px 30px;
}
.wishlist-modal .modal-body .form-group {
    margin-bottom: 0;
}
.wishlist-modal .modal-body .form-group .form-control {
    border-radius: 0;
    background: none;
    color: black;
}
.wishlist-modal .modal-content {
    width: 100%;
}
.wishlist-modal .modal-cancel {
    margin-right: 10px;
}

.wishlist-modal .modal-footer {
    padding: 12px 30px;
    border: none;
    padding-bottom: 30px;
}
.wishlist-modal .modal-footer .btn {
    text-transform: none;
}
.wishlist-modal .modal-backdrop {
    pointer-events: none;
}
.wishlist-modal .modal-backdrop.in {
    pointer-events: all;
}
.wishlist-modal + .modal-backdrop {
    pointer-events: none;
}
.wishlist-modal + .modal-backdrop.in {
    pointer-events: all;
}
.products article .wishlist-button-add {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
}
.wishlist-footer-links {
    margin-bottom: 50px;
}
.wishlist-footer-links > a {
/* AngarTheme
    color: #2fb5d2;
    font-size: 14px;
*/
    letter-spacing: 0;
    line-height: 19px;
}
.wishlist-footer-links > a:not(:first-child) {
    margin-left: 20px;
}
.wishlist-footer-links > a i {
    font-size: 20px;
    margin-right: 4px;
    vertical-align: middle;
}


/* AngarTheme */
/*** WISHLIST - PRODUCT-LIST ***/
body .products article .wishlist-button-add {
z-index: 8;
top: 12px;
right: 22px;
height: 34px;
width: 34px;
min-width: 34px;
box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 20%);
}

body .products article .wishlist-button-add i {
font-size: 20px;
color: #333333;
}

body .products article:hover .wishlist-button-add {
display: block;
}

body .products article .wishlist-button-add:hover {
opacity: 1;
transform: scale(1.1);
}

body.pl_border_type1 .products article .wishlist-button-add {
right: 12px;
}

/*** WISHLIST - PRODUCT-LIST LIST VIEW ***/
body .product_show_list .products article .wishlist-button-add {
top: 4px;
right: 16px;
}

body.pl_border_type1 .product_show_list .products article .wishlist-button-add {
top: 4px;
right: 6px;
}


/* Wishlist - discount label .ps_178 */
a.product-flags-plist span.product-flag.discount-percentage {
float: left;
}

a.product-flags-plist span.product-flag.discount {
display: none;
}

/* Wishlist - Left column */
body .columns .products article .wishlist-button-add {
top: initial;
right: 20px;
bottom: 10px;
}

/*** WISHLIST - PRODUCT PAGE ***/
#product .col-md-6.product_left .wishlist-button-add {
position: absolute;
z-index: 2;
top: 10px;
right: 10px;
margin: 0;
box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 20%);
}

#product .col-md-6.product_left .wishlist-button-add i {
color: #333333;
}

#product .col-md-6.product_left .wishlist-button-add:hover {
opacity: 1;
transform: scale(1.1);
}

/* Wishlist - discount label .ps_178 */
#product #content .product-flags .product-flag.discount {
float: left;
clear: both;
}

/*** WISHLIST PAGE ***/

/*** Main container ***/
body#view #wrapper .container {
width: 100%;
}

/*** ul ***/
body#view ul.wishlist-products-list {
display: block;
margin: 0;
padding: 0;
}

/*** li item ***/
body#view ul li.wishlist-products-item {
text-align: center;
margin: 0;
}

body#view ul li.wishlist-products-item a:hover {
text-decoration: none;
}

/* Delete button */
body#view .wishlist-product .wishlist-button-add {
z-index: 8;
top: 12px;
right: 22px;
height: 34px;
width: 34px;
min-width: 34px;
box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 20%);
}

body#view .wishlist-product .wishlist-button-add i {
font-size: 20px;
color: #333333;
}

/* Title - add to atc.tpl */
body#view ul li.wishlist-products-item p.wishlist-product-title {
font-size: 14px;
line-height: 16px;
min-height: 32px;
font-weight: bold;
color: initial;
text-transform: uppercase;
padding: 0;
}

/* Attributes */
body#view #main .wishlist-product-combinations {
display: block;
position: relative;
margin-bottom: 20px;
}

body#view #main .wishlist-product-combinations p.wishlist-product-combinations-text {
color: initial;
min-height: initial;
padding-right: 20px;
}

body#view #main .wishlist-product-combinations a {
position: absolute;
top: 0px;
right: 0px;
color: initial;
}

body#view #main .wishlist-product-combinations a:hover {
color: #666;
}

body#view #main .wishlist-product-combinations a i {
font-size: 20px;
}

/* Price - add to atc.tpl */
body#view #main .wishlist-product-price {
color: #1b82d6;
font-size: 15px;
line-height: 26px;
}

/* Price before reduction */
body#view #main .wishlist-product-price .wishlist-product-price-promo {
color: #999999;
font-size: 13px;
font-weight: normal;
text-decoration: line-through;
vertical-align: 0px;
}

/* Add to cart - add to atc */
body#view ul li.wishlist-products-item .wishlist-product-bottom .btn-primary {
display: inline-block;
width: auto;
white-space: normal;
position: relative;
font-weight: 400;
line-height: 14px;
text-decoration: none;
text-align: center;
background: #1b1a1b;
color: #ffffff;
border: 1px solid #1b1a1b;
padding: 8px 12px 8px 34px;
margin: 0 3px 4px;
}

body#view ul li.wishlist-products-item .wishlist-product-bottom .btn-primary:hover {
background: #1b82d6;
color: #ffffff;
border-color: #1b82d6;
}

body#view ul li.wishlist-products-item .wishlist-product-bottom .btn-primary  i {
position: absolute;
top: 10px;
left: 12px;
width: auto;
height: auto;
font-size: 15px;
line-height: 14px;
}

/* Customization button */
body#view ul li.wishlist-products-item .wishlist-product-bottom .btn-secondary {
display: inline-block;
width: auto;
font-weight: 400;
line-height: 14px;
text-decoration: none;
text-align: center;
color: #000;
background: #fff;
border: 1px solid #D6D4D4;
padding: 8px 12px;
margin: 0 3px 4px;
}

body#view ul li.wishlist-products-item .wishlist-product-bottom .btn-secondary:hover {
background: #f7f7f7;
color: #000;
border-color: #D6D4D4;
}

/*** Wishlist footer ***/
body#view #main .wishlist-footer-links {
margin-bottom: 10px;
}

body#view #main .wishlist-footer-links > a {
color: initial;
font-size: 13px;
}


/* style 1 and 2 */
body#view .wishlist-products-container .card.page-content {
padding: 0;
margin-bottom: 12px;
border: 0;
}

body#view ul.wishlist-products-list {
margin: 0 -8px;
}

body#view ul li.wishlist-products-item {
margin: 0;
position: relative;
float: left;
width: 25%;
padding: 0 10px 20px;
text-align: center;
}

body#view ul li.wishlist-products-item .wishlist-product-image {
width: auto;
height: auto;
position: relative;
overflow: hidden;
}

body#view ul li.wishlist-products-item .wishlist-product-image img {
position: relative;
max-width: 100%;
max-height: 100%;
top: initial;
left: initial;
transform: initial;
transition: initial;
}

#view.pl_border_type1 ul li.wishlist-products-item {
background: #fff;
border: 1px solid #D6D4D4;
margin: -1px 0 0 -1px;
padding: 8px 8px 6px;
z-index: 0;
}

#view.pl_border_type1 ul li.wishlist-products-item:hover {
-moz-box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 8px 0px;
-webkit-box-shadow: rgb(0 0 0 / 24%) 0px 1px 8px 0px;
box-shadow: rgb(0 0 0 / 24%) 0px 1px 8px 0px;
z-index: 1;
}


#view.pl_border_type2 ul li.wishlist-products-item .wishlist-product {
position: relative;
max-width: initial;
height: auto;
display: block;
border: 1px solid transparent;
background: #fff;
padding: 8px 8px 8px 8px;
-moz-box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 4px 0px;
-webkit-box-shadow: rgb(0 0 0 / 24%) 0px 1px 4px 0px;
box-shadow: rgb(0 0 0 / 24%) 0px 1px 4px 0px;
}

#view.pl_border_type2 ul li.wishlist-products-item .wishlist-product:hover {
-moz-box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 8px 0px;
-webkit-box-shadow: rgb(0 0 0 / 24%) 0px 1px 8px 0px;
box-shadow: rgb(0 0 0 / 24%) 0px 1px 8px 0px;
}


#view.pl_border_type3 ul li.wishlist-products-item .wishlist-product {
padding: 8px 8px 8px 8px;
border: 1px solid transparent;
}

#view.pl_border_type3 ul li.wishlist-products-item .wishlist-product:hover {
border: 1px solid #d6d4d4;
}

/* Popup */
.bg_white .modal-content .modal-footer a.wishlist-add-to-new,
.bg_white .modal-content .modal-footer a.wishlist-add-to-new i,
.bg_white .wishlist-container .wishlist-container-header a.wishlist-add-to-new,
.bg_white .wishlist-container .wishlist-container-header a.wishlist-add-to-new i {
color: #000;
}



/* Black */

/* First page */
#module-blockwishlist-lists.bg_black .wishlist-list-item-title {
color: #fff;
}

/* Product-list - icon */
body.bg_black .products article .wishlist-button-add,
#product.bg_black .col-md-6.product_left .wishlist-button-add {
background: #2d2d2d;
}

body.bg_black .products article .wishlist-button-add i,
#product.bg_black .col-md-6.product_left .wishlist-button-add i {
color: #fff;
}

/* Product-list */
#view.bg_black .wishlist-products-container .card.page-content {
background: none;
}

#view.pl_border_type2.bg_black ul li.wishlist-products-item .wishlist-product {
background: #1c1c1c;
border-color: #2d2d2d;
}

#view.bg_black ul li.wishlist-products-item p.wishlist-product-title,
#view.bg_black #main .wishlist-product-combinations p.wishlist-product-combinations-text,
#view.bg_black #main .wishlist-product-combinations a i {
color: #fff;
}

#view.bg_black #main .wishlist-product-combinations a i {
color: #666;
}

/* Footer */
body#view #main .wishlist-footer-links > a {
color: #fff;
}

/* Popup */
.bg_black .wishlist-add-to .wishlist-modal .wishlist-list {
border-color: #2d2d2d;
}

.bg_black .wishlist-add-to .wishlist-modal .wishlist-list-item:hover {
background: #111;
}

.bg_black .wishlist-add-to .wishlist-modal .wishlist-list p {
color: #fff;
}

.bg_black .modal-content .modal-footer a.wishlist-add-to-new,
.bg_black .modal-content .modal-footer a.wishlist-add-to-new i,
.bg_black .wishlist-container .wishlist-container-header a.wishlist-add-to-new,
.bg_black .wishlist-container .wishlist-container-header a.wishlist-add-to-new i {
color: #fff;
}

.bg_white .wishlist-modal,
.bg_white .wishlist-add-to .wishlist-modal .wishlist-list p,
.bg_white .modal-content .modal-footer a.wishlist-add-to-new,
.bg_white .modal-content .modal-footer a.wishlist-add-to-new i,
.bg_white .wishlist-container .wishlist-container-header a.wishlist-add-to-new,
.bg_white .wishlist-container .wishlist-container-header a.wishlist-add-to-new i {
color: #000;
}

/* Popup - Create wishlist */
.bg_black .wishlist-modal .modal-body .form-group .form-control {
background: #111;
color: #fff;
border-color: #2d2d2d;
}

.bg_black .wishlist-modal .modal-body .form-group .form-control:focus,
.bg_black .wishlist-modal .modal-body .form-group .form-control.focus  {
border-color: #2d2d2d;
outline-color: #2d2d2d;
}

/* My wishlist page */
.bg_black a.wishlist-list-item-link .wishlist-list-item-right > button i {
color: #ffffff;
}

@media screen and (max-width: 768px) {
.bg_black #content-wrapper .wishlist-container .page-content.card {
background-color: #1c1c1c;
}
}

/*** RWD - products per row ***/
@media (min-width: 992px) {
#view.pl_1col_qty_2 ul li.wishlist-products-item {width: 50%;}
#view.pl_1col_qty_3 ul li.wishlist-products-item {width: 33.333%;}
#view.pl_1col_qty_4 ul li.wishlist-products-item {width: 25%;}
#view.pl_1col_qty_5 ul li.wishlist-products-item {width: 20%;}
#view.pl_1col_qty_6 ul li.wishlist-products-item {width: 16.666%;}

#view.pl_1col_qty_2 ul li.wishlist-products-item:nth-child(2n+1) {clear: both;}
#view.pl_1col_qty_3 ul li.wishlist-products-item:nth-child(3n+1) {clear: both;}
#view.pl_1col_qty_4 ul li.wishlist-products-item:nth-child(4n+1) {clear: both;}
#view.pl_1col_qty_5 ul li.wishlist-products-item:nth-child(5n+1) {clear: both;}
#view.pl_1col_qty_6 ul li.wishlist-products-item:nth-child(6n+1) {clear: both;}
}

@media (min-width: 768px) and (max-width: 991px) {
#view.pl_1col_qty_bigtablets_2 ul li.wishlist-products-item {width: 50%;}
#view.pl_1col_qty_bigtablets_3 ul li.wishlist-products-item {width: 33.333%;}
#view.pl_1col_qty_bigtablets_4 ul li.wishlist-products-item {width: 25%;}
#view.pl_1col_qty_bigtablets_5 ul li.wishlist-products-item {width: 20%;}
#view.pl_1col_qty_bigtablets_6 ul li.wishlist-products-item {width: 16.666%;}

#view.pl_1col_qty_bigtablets_2 ul li.wishlist-products-item:nth-child(2n+1) {clear: both;}
#view.pl_1col_qty_bigtablets_3 ul li.wishlist-products-item:nth-child(3n+1) {clear: both;}
#view.pl_1col_qty_bigtablets_4 ul li.wishlist-products-item:nth-child(4n+1) {clear: both;}
#view.pl_1col_qty_bigtablets_5 ul li.wishlist-products-item:nth-child(5n+1) {clear: both;}
#view.pl_1col_qty_bigtablets_6 ul li.wishlist-products-item:nth-child(6n+1) {clear: both;}
}

@media (min-width: 481px) and (max-width: 767px) {
#view.pl_1col_qty_tablets_2 ul li.wishlist-products-item {width: 50%;}
#view.pl_1col_qty_tablets_3 ul li.wishlist-products-item {width: 33.333%;}
#view.pl_1col_qty_tablets_4 ul li.wishlist-products-item {width: 25%;}
#view.pl_1col_qty_tablets_5 ul li.wishlist-products-item {width: 20%;}
#view.pl_1col_qty_tablets_6 ul li.wishlist-products-item {width: 16.666%;}

#view.pl_1col_qty_tablets_2 ul li.wishlist-products-item:nth-child(2n+1) {clear: both;}
#view.pl_1col_qty_tablets_3 ul li.wishlist-products-item:nth-child(3n+1) {clear: both;}
#view.pl_1col_qty_tablets_4 ul li.wishlist-products-item:nth-child(4n+1) {clear: both;}
#view.pl_1col_qty_tablets_5 ul li.wishlist-products-item:nth-child(5n+1) {clear: both;}
#view.pl_1col_qty_tablets_6 ul li.wishlist-products-item:nth-child(6n+1) {clear: both;}
}

@media  (max-width: 480px) {
#view.pl_1col_qty_phones_1 ul li.wishlist-products-item {width: 100%;}
#view.pl_1col_qty_phones_2 ul li.wishlist-products-item {width: 50%;}
#view.pl_1col_qty_phones_3 ul li.wishlist-products-item {width: 33.333%;}
#view.pl_1col_qty_phones_4 ul li.wishlist-products-item {width: 25%;}
#view.pl_1col_qty_phones_5 ul li.wishlist-products-item {width: 20%;}
#view.pl_1col_qty_phones_6 ul li.wishlist-products-item {width: 16.666%;}

#view.pl_1col_qty_phones_2 ul li.wishlist-products-item:nth-child(2n+1) {clear: both;}
#view.pl_1col_qty_phones_3 ul li.wishlist-products-item:nth-child(3n+1) {clear: both;}
#view.pl_1col_qty_phones_4 ul li.wishlist-products-item:nth-child(4n+1) {clear: both;}
#view.pl_1col_qty_phones_5 ul li.wishlist-products-item:nth-child(5n+1) {clear: both;}
#view.pl_1col_qty_phones_6 ul li.wishlist-products-item:nth-child(6n+1) {clear: both;}
}


/*** RWD ***/
@media screen and (max-width: 768px) {
body#view ul li.wishlist-products-item .wishlist-product-image {
margin: 0;
}

body#view ul li.wishlist-products-item .wishlist-product-link {
display: block;
}

body#view ul li.wishlist-products-item .wishlist-product-link .wishlist-product-title {
margin-top: 10px;
}

body#view ul li.wishlist-products-item .wishlist-product-bottom {
display: block;
}

body#view ul li.wishlist-products-item .wishlist-product .wishlist-button-add {
position: absolute;
margin-left: 0px;
}
}
