<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>angarcmsinfo</name>
    <displayName><![CDATA[AT - Icons before footer (Free shipping, Product return, Support 24/7, Safe Payment)]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Adds custom information blocks in your store.]]></description>
    <author><![CDATA[AngarThemes]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>