div#angarinfo_block {
text-align: center;
float: left;
width: 100%;
padding: 10px 0 0;
}

div#angarinfo_block .icon_cms {
font-size: 36px;
margin: 0 0 6px;
width: 100%;
color: #1379CE;
}

div#angarinfo_block .icon_cms span{
display: none;
}

div#angarinfo_block  h3{
margin: 2px 0 4px;
font-weight: bold;
font-size: 18px;
text-transform: uppercase;
}

div#angarinfo_block p{
margin: 0;
}

div#angarinfo_block a:hover{
text-decoration: underline;
}

@media (min-width: 768px) {

div#angarinfo_block .container {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
}

div#angarinfo_block .container .col-xs-3 {
-ms-flex-preferred-size: 0;
flex-basis: 0;
-webkit-box-flex: 1;
-ms-flex-positive: 1;
flex-grow: 1;
max-width: 100%;
}

}

@media (max-width: 767px) {

div#angarinfo_block{
margin: 10px 0;
padding: 0;
}

div#angarinfo_block .col-xs-3{
width: 50%;
margin-bottom: 10px;
}

div#angarinfo_block .col-xs-3:nth-child(3){
clear: both;
}

}

@media (max-width: 480px) {

div#angarinfo_block {
padding: 0px 0;
}

div#angarinfo_block .col-xs-3{
width: 100%;
}

}